*{
    box-sizing: border-box;
    outline: 0;
}

body{
    margin:0 ;
    padding: 0;
    background: rgb(10, 105, 86);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container {
    max-width: 450px;
    margin: 20px auto;
    background: #fff;
    padding: 50px;
    border-radius: 25px;
}

h1{
    margin-top: -20px;


}
